.container {
	display: flex;
	height: 100%;
	form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 10;
		margin: auto;
		padding-bottom: 10rem;
		height: 65%;
		.form-group {
			text-align: center;
			.form-label {
				color: #f4f8fc;
				margin-bottom: 0.35rem;
				font-weight: 550;
				text-shadow: 1px 1px 1px #000000;
			}
		}

		p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 24px;
			color: #f4f8fc;
			text-shadow: 1px 1.5px 1px #000000;
			font-weight: 550;
			margin-bottom: 3rem;
		}

		button {
			margin-top: 0.5rem;
			width: 90px;
		}

		.back {
			position: absolute;
			left: -120px;
			font-size: 28px;
			font-weight: bold;

			color: #f4f8fc !important;

			&:hover {
				cursor: pointer;
			}
		}
		.error-msg{
			margin-top:-10px;
			margin-bottom:5px;
			color:red;
			font-size:14px;

		}
	}
}

#register,
#contacts {
	form {
		padding-bottom: 5rem;
	}
}
