#home {
	.container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 85%;

		.dashboard {
			position: absolute;
			top: 200px;
			left: 0;
			display: flex;
			flex-direction: column;
			text-align: center;
			height: 80px;
			justify-content: space-between;
			font-size: 18px;
			padding: 1.5rem;
			text-shadow: 1px 1px 1px #000000;
			background-color: #3d3d3d;
			border: 2px solid #f4f8fc;

			span {
				color: #f4f8fc;
				font-weight: bold;
				span {
					font-weight: bold;
					color: #28a745;
					font-weight: bold;
				}
			}
		}

		h1,
		.typed-text {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 34px;
			color: #f4f8fc;
			text-shadow: 1px 1.5px 1px #000000;
			font-weight: 550;
		}

		.typed-text {
			margin-bottom: 0.5rem;
		}

		.buttons-wrapper {
			z-index: 10;
			width: 25rem;
			padding-top: 2rem;
			display: flex;
			justify-content: space-between;

			&.logged {
				justify-content: center;
			}
		}
	}
}
