@import "reset";
@import "header";
@import "forms";
@import "home";
@import "transaction";
@import "swap";
@import "userInfo";
@import "about";
@import "footer";

.particles canvas {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

section {
  height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
}

.btn:focus,
.form-control:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  border: none;
}

p,
span,
h1,
h2,
h3,
label{
  z-index: 10 !important;
}
